*{
  margin: 0;
}

.card{
  border: 1px solid black;
  padding : 10px;
  margin : 13px;
  text-align: center;
  display : inline-block;
  max-width: 250px;
}

.card .card-img{
  border-radius: 50%;
  min-width: 150px;
  max-width: 150px;
  margin: 10px auto;
}
